<div class="container">
  <br>
  <h1>{{tittle}}</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td> {{nombre}} </td>
        <td> uppercase </td>
        <td> {{nombre | uppercase}} </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td> {{nombre}} </td>
        <td> lowercase </td>
        <td> {{nombre | lowercase }} </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td> {{nombre}} </td>
        <td> slice:3 </td>
        <td> {{nombre | slice:3 }} </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td> {{nombre}} </td>
        <td> slice:0:3 </td>
        <td> {{nombre | slice:0:3 }} </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td> {{arreglo}} </td>
        <td> slice:0:5 </td>
        <td> {{arreglo | slice:1:5 }} </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td> {{PI}} </td>
        <td> number </td>
        <td> {{PI | number:'3.0-0' }} </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td> {{PI}} </td>
        <td> number:'1.0-2' </td>
        <td> {{PI | number:'1.0-3' }} </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td> {{numero}} </td>
        <td> percent </td>
        <td> {{numero | percent }} </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td> {{numero}} </td>
        <td> percent:'1.0-2' </td>
        <td> {{numero | percent:'2.1-2' }} </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td> {{moneda}} </td>
        <td> salario:'1.0-2' </td>
        <td> {{moneda | currency }} </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td> {{moneda}} </td>
        <td> Currency:'EUR' </td>
        <td> {{moneda | currency:'EUR' }} </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td> {{moneda}} </td>
        <td> Currency:'EUR' </td>
        <td> {{moneda | currency:'EUR':true }} </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td> {{moneda}} </td>
        <td> Currency:'EUR':true:'4.0-0' </td>
        <td> {{moneda | currency:'EUR':true:'4.0-0'}} </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td> {{moneda}} </td>
        <td> number:'.2-2' </td>
        <td> {{moneda | number:'.2-2'}} </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td> {{ varlorDePromesa }} </td>
        <td> async </td>
        <td> {{ varlorDePromesa | async }} </td>
      </tr>
    </tbody>

  </table>
  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:5.20"> {{item}}

    </li>
  </ul>
  <h4>JSON</h4>
  <pre>
    {{heroe | json}}
  </pre>


  <hr>
  <hr>




</div>